.Rproj.user
.Rhistory
.RData
.Ruserdata

*.h5ad
*.h5seurat
*.npz
*.tiff
*.tif
*.rda
*.Rdata
*.rds
*.csv
*trakem2*
git-filter-repo.py

# Data directories
/raw-data/
/processed-data/Images/

# visium files
/processed-data/Visium/01_spaceranger/

# xenium files
/code/Xenium/sopa/
/processed-data/Xenium/01_resegment/

# visium hd files
/processed-data/VisiumHD/01_spaceranger/

# visium stitcher files
/processed-data/visium_stitching/Br8325/
/processed-data/visium_stitching/combined_Br8325/

# misc files
/code/snRNAseq/
/processed-data/snRNA-seq/
/plots/snRNAseq/