.Rproj.user
.Rhistory
.RData
.Ruserdata

*.h5ad
*.h5seurat
*.npz
*.tiff
*.tif
*.rda
*.Rdata
*.rds
*.csv
*.csv.gz
*.jar
*trakem2*
git-filter-repo.py

# Data directories
/raw-data/
/processed-data/
/plots/
/my_h5_se/

# processing and other files
/code/Visium/16_LDSC/gsMap/figures/
/code/Visium/16_LDSC/gsMap/logs/
/code/Visium/16_LDSC/scDRS/logs/
/code/Visium/16_LDSC/LDSC/
/code/VisiumHD/01_spaceranger/logs/


# xenium files
/code/Xenium/sopa/
