.Rproj.user
.Rhistory
.RData
.Ruserdata


*.tif
*.rda
*.Rdata
*.rds
*.csv
*trakem2*

# Data directories
/raw-data/*
/processed-data/01_spaceranger/*
/processed-data/Images/*
/processed-data/snRNA-seq/*
/processed-data/visium_stitching/Br8325/*
/processed-data/visium_stitching/combined_Br8325/*
